/* Resset Básico*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

.container {
    display: flex;
    background-color: lightblue;
}

.item {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: lightcoral;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
}

.apachurro1{
    flex-shrink: 1;
}
.apachurro2{
    flex-shrink: 2;
}
.apachurro3{
    flex-shrink: 3;
}
.apachurro4{
    flex-shrink: 4;
}
